<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--客戶清單-->
    <add key ="CustomerList" value="采毓,都寶,億隆公司,佳虹,佳隆,芮亞,浤龍,億隆顏,億隆陽光,采毓富城,采悅,佳隆富山街,寶成國慶,佳隆新大同,美將,展叡,采威,小蘋果光武,嘉格來,佳藝中山,鐿勝,秀品,星麗紡,上新,佳藝,東宜阿智,成龍,日發,億隆,信裕,衣學系,長宏,典昌,巧美,鴻億,貝多芬,wave,新日達,禾鎰,東億,泰綸,京揚,珈御,振成,三來,慶威,宏威,馬文斌,安麗,東宜,艾珈,小豐,銡鎂,華遠,昌益,橙品,加琦,采璘,明美,益發,尚品,坤元,群豐,寶成,寶成和平,永珍,協泰,崇越,進益,建順,逢凱,紘玉,順源,楓琳,阿田,胖丁,正豐,昇旺,金旺,振豐,捷泰,振嘉,世昌,金品,重陽,盛群,原欣,展欣,統益,盛大興,冠銘,立橙,龍祥,鴻運,宏億,階大歡喜,橙業,高先生,米雅,巨立,聯宏,虹羿,竣豪,小蘋果,夏展,富騰,緹米,明晟,科邦,宜尚美,慶邦,西園路,逢凱,巧鈺,阿德"/>
    <!--OneDrive 根目錄-->
    <add key ="FilePath" value="C:\Users\Hans\OneDrive\文件"/>
    <!--庫存管理檔案名稱-->
    <add key ="StoreManageFileName" value="庫存管理.xlsx"/>
    <!--出貨檔案名稱-->
    <add key ="ShippingFileName" value="出貨.xlsx"/>
    <add key="DbfFilePath" value="C:\Users\Hans\Desktop\HOI"/>
    <add key="ReportsFilePath" value="C:\Users\Hans\OneDrive\文件"/>
    <!--每日出貨查詢 查詢庫存量-->
    <add key ="StoreSearchFilePath" value="C:\Users\Hans\OneDrive\文件\出貨查詢\"/>
    <add key="ConnectionString" value="Data Source=HANS-PC\SQLEXPRESS;Initial Catalog=hungyidb;User ID=sa;Password=yuiop7410;Connection Timeout=5"/>
    <!--加工訂單 根目錄-->
    <add key="ProcessOrderFilePath" value="C:\Users\Hans\Desktop\"/>
    <!--加工訂單 檔案名稱-->
    <add key="ProcessOrderFileName" value="加工訂單-v3.xlsm"/>
    <!-- Dbf 連線字串 包含檔案位置-->
    <add key="DbfConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Hans\Desktop\HOI; Extended Properties=dBASE IV;"/>
    <!-- 加工訂單匯出時間記錄 檔案位置-->
    <add key="ProcessOrderRecordDateFilePath" value="C:\Users\Hans\OneDrive\文件\加工訂單紀錄\"/>
    <!-- 加工訂單匯出時間記錄 檔案名稱-->
    <add key="ProcessOrderRecordDateFileName" value="加工訂單匯出時間.txt"/>
    <!-- 庫存管理歷史紀錄 檔案位置-->
    <add key="InventoryHistoryRecordFilePath" value="C:\Users\Hans\OneDrive\文件\庫存管理紀錄"/>
    <!-- 布種名稱對應 檔案位置-->
    <add key="TextileNameMappingFilePath" value=".\布種名稱對應表.json"/>
    
  </appSettings>
</configuration>